.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
NEWS.html
tmp
inst/doc
vignettes/tauargus_exe.ini
.hrc
.rda
.asc
.arb
.hst

docs

output/
.Rdata
.httr-oauth
.DS_Store
.quarto

vignettes/tauargus_files/
vignettes/hrc/
vignettes/example_1/
